#blue-square {
    display: flex;
    background-color: blue;
    width: 200px;
    height: 200px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px
}

#red-square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin: 50px;
    width: 100px;
    height: 100px;
}